# Application Configuration
PROJECT_NAME=FastAPI Project
API_ENV=local  # local, prod, production

# Database Configuration - DEV (로컬 개발용)
POSTGRES_SERVER_DEV=localhost
POSTGRES_PORT_DEV=5432
POSTGRES_USER_DEV=postgres
POSTGRES_PASSWORD_DEV=postgres
POSTGRES_DB_DEV=app

# Database Configuration - PROD (프로덕션/도커용)
POSTGRES_SERVER_PROD=db
POSTGRES_PORT_PROD=5432
POSTGRES_USER_PROD=postgres
POSTGRES_PASSWORD_PROD=postgres
POSTGRES_DB_PROD=app
